.detailPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
    text-align: left;
    color: white;
    background-color:black;
}

.plans {
    text-align: center;
    background-color: rgb(52, 48, 48);
    width: 90%;
    margin: auto;
    margin-top:13px;
    border-radius: 12px;
}

.Facilities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 10px;
    text-align: center;
}
.Facilities div{
    background-color: rgb(224, 77, 77);
   
}

.PriceDiv {
    width: 80%;
    margin: auto;
    margin-bottom: 22px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
    text-align: center;

}

.term {
    display: flex;
}

.term p {
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(224, 77, 77);
    border-radius: 7px;
}


.sorting{

    background-color: azure;
}

 @media all and (min-width: 350px) and (max-width: 780px) {
    .detailPage {
        display: block;
        width: 90%;
        margin: auto;
        text-align: left;
        color: white;
    }

    .detail {
        font-size: 15px;
    }

    .plans {
        background-color: rgb(18, 18, 18);
        width: 100%;
        margin: auto;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .facilities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .PriceDiv {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        border-radius: 15px;
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
        height: 100px;
    }

    .term {
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .term p {
        margin-right: 20px;
        padding: 10px;
        background-color: red;
        border-radius: 7px;
    }
}


/* media */


@media screen and (max-width: 800px) {
    .detailPage {
        display: block;
        width: 90%;
        margin: auto;
        text-align: left;
        color: white;
    }

    .detail {
        font-size: 15px;
    }

    .plans {
        background-color: rgb(18, 18, 18);
        width: 100%;
        margin: auto;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .facilities {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .PriceDiv {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        border-radius: 15px;
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
        height: 100px;
    }

    .term {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .term p {
        margin-right: 20px;
        padding: 10px;
        background-color: red;
        border-radius: 7px;
    }
}

